<head>
  {# Cargamos la librería #}
  {% load bootstrap4 %}

  {# CSS Bootstrap #}
  {% bootstrap_css %}
</head>

<body>
  {% include 'shared/navbar.html' %}

  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center mb-4">Iniciar sesión</h1>
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {% if messages %}
          <div id="error-messages" class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {% for message in messages %}
            <strong>{{ message }}</strong>
            {% endfor %}
          </div>
          {% endif %}
          <div class="form-group">
            <label for="id">Cédula:</label>
            <input type="text" name="id" id="id" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-warning btn-block mt-4 font-weight-bold">Iniciar sesión</button>
          <a href="{% url 'register' %}" type="submit"
            class="btn btn-dark btn-block mt-4 font-weight-bold">Registrarse</a>
        </form>
      </div>
    </div>
  </div>

  {# JS y jQuery Bootstrap #}
  {% bootstrap_javascript jquery='full' %}
</body>
<script>
  $(document).ready(function () {
    // Cierra automáticamente los mensajes de error después de 5 segundos
    setTimeout(function () {
      $('#error-messages').alert('close');
    }, 1000);
  });
</script>