<head>
 
    {# Cargamos la librería #} 
    {% load bootstrap4 %} 
  
    {# CSS Bootstrap #} 
    {% bootstrap_css %} 

    {# Widget Tweaks #}
    {% load widget_tweaks %}

    {# Archivos #}
    {% load static %} <!-- STATIC_URL -->
  
</head>
<body>
    <h4>Detalles</h4>
 
    <p><span class="txt_negrita">Nombre:</span> <br> {{object.nombre}}</p>
    <p><span class="txt_negrita">Entrenador:</span> <br> {{object.entrenador}}</p>
    <p><span class="txt_negrita">Equipo:</span> <br> {{object.equipo.nombre}}</p>
 
    <!-- Botón para volver a la vista principal (Home) -->
    <a href="../" type="submit" class="btn btn-primary">Volver</a>


    {# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %} 
</body>